# mongod.conf
storage:
  dbPath: {{ mongodb_data_dir }}
  wiredTiger:
    engineConfig:
      cacheSizeGB: {{ (ansible_memtotal_mb | int * 0.5 / 1024) | round(2) }}
systemLog:
  destination: file
  logAppend: true
  path: {{ mongodb_log_dir }}/mongod.log
net:
  port: {{ mongodb_port }}
  bindIp: {{ mongodb_bind_ip }}
replication:
  replSetName: {{ mongodb_replicaset_name }}
processManagement:
  fork: false
security:
  authorization: enabled
  keyFile: {{ mongodb_keyfile_path }}
